.details-box h5{
    flex-basis: 200px; /* Adjust the width as needed */
    text-align: left;
    padding-right: 15px; /* Adjust the spacing as needed */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
}

.details-box h6{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}

