.details-box h5{
    flex-basis: 200px; /* Adjust the width as needed */
    text-align: left;
    padding-right: 15px; /* Adjust the spacing as needed */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
}

.details-box h4{
    flex-basis: 500px; /* Adjust the width as needed */
    text-align: left;
    padding-right: 15px; /* Adjust the spacing as needed */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

.details-box h6{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.main-form{
    background-color: white;
    padding: 35px;
    border-radius: 15px;
}

.main-form input, select, textarea{
    border-radius: 15px;
    border: 1.5px solid #D9D9D9;
    padding: 10px;
    width: 80%;
    color: #6b6767;
}

.main-form input[type="submit"]{
    border-radius: 15px;
    width: 12%;
    padding: 13px;
    border: 1.5px solid #D9D9D9;
    margin-left: auto;
    background-color: #405969;
    transition: .3s ease;
    color: white;
}

.main-form input[type="submit"]:hover{
    background-color: #20303a;
    transition: .3s ease;
    color: white;
}

.error-msg{
    text-align: right;
    margin-right: 15px;
    color: red;
}

.btnact{
    background-color: #4f748a;
    color: white;
    padding: 10px;
    border-radius: 12px;
    width: 80%;
    border: 1.5px solid #20303a;
    transition: .3s ease;
}

.btnact:hover{
    transition: .3s ease;
    background-color: #20303a;
}

.btnactdel{
    background-color: rgb(194, 37, 37);
    color: white;
    padding: 10px;
    border-radius: 12px;
    width: 80%;
    border: none;
    border: 1.5px solid black;
    transition: .3s ease;
}

.btnactdel:hover{
    transition: .3s ease;
    background-color: red;
}

