*{
    font-family: 'Poppins';
}
.left-form input[type="email"], .left-form input[type="password"], .left-form input[type="text"], .left-form input[type="date"] {
    border: 1px solid #d9d9d9;
    width: 100%;
    background: none;
    padding: 10px;
    border-radius: 10px;
}

.left-form label{
    margin-top: 25px;
    margin-bottom: 10px;
}

.btnLogin{
    margin-top: 25px;
    border: 1px solid #d9d9d9;
    width: 100%;
    background: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #405969;
    color: white;
    transition: .3s ease;
}

.btnLogin:hover{
    background-color: snow;
    transition: .3s ease;
    color: black;
}

.btnRegister{
    margin-top: 45px;
    border: 1px solid #d9d9d9;
    width: 100%;
    background: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #405969;
    color: white;
    transition: .3s ease;
}

.btnRegister:hover{
    background-color: snow;
    transition: .3s ease;
    color: black;
}

